@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Emoji float animation */
@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.5;
  }
  5% {
    opacity: 0.6;
  }
  25% {
    transform: translate(-25vw, 5vh) rotate(90deg);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50vw, -5vh) rotate(180deg);
    opacity: 0.5;
  }
  75% {
    transform: translate(-75vw, 5vh) rotate(270deg);
    opacity: 0.6;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-100vw, 0) rotate(360deg);
    opacity: 0;
  }
}
